* {
    margin: 0;
    padding: 0;
}

body {
    background: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt0403cb63139b20ad/615f5af1c6e83930e6e12b83/124d00aa78172a2f08d9adaf8b2687e1756f06b6.png');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

header {
    background-repeat: no-repeat;
}

img {
    border-radius: 100px;
    height: 200px;
    width: 400px;
    margin-top: 50px;
    margin-left: 700px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}